__pycache__
*.pyc

.venv/

*.onefile-build/
*.dist/
*.build/
dist/
build/
*.bin
*.egg-info/

*.whl
*.tar.gz
*.tgz
*.zip
*.bak
.env

test/
hello.txt
s3lo/boto/

*.pyz
*.tmp
.vscode/

*.spec
